body
{
    background-color: blue;
    color:white;
}
.centered
{
    text-align: center;
}

.right
{
    text-align: right;
}

.left
{
    text-align: left;
}


.large
{
    font-size: large;
}

.medium
{
    font-size: medium;
}

.small
{
    font-size: small;
}