{% extends "layout.html" %}

{% block body %}

    <body>

        <h2>Now you can begin to learn!</h2>

        <li>Data Science <a href="https://github.com/berkayalan/Data-Science-Tutorials" id ="datascience">Data Science Tutorials</a></li>
        <li>Business Intelligence <a href="https://github.com/berkayalan/Tableau-Tutorials" id ="tableau">Tableau Tutorials</a></li>
        <li>Streamlit <a href="https://github.com/berkayalan/streamlit" id ="streamlit">Streamlit</a></li>
        <li>Data Visualisatiom <a href="https://github.com/berkayalan/Data-Science-Tutorials/tree/master/data%20visualization" id ="dataviz">Data Visualisatiom</a></li>

    </body>

{% endblock %}